<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MysqlClassGeneratorV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MysqlClassGeneratorV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MysqlClassGeneratorV2.Properties.Settings>
            <setting name="MysqlConnectionString" serializeAs="String">
                <value>Server={0};Database={1};Uid={2};Pwd={3};Port={4};</value>
            </setting>
        </MysqlClassGeneratorV2.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MysqlClassGeneratorV2.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="MysqlConnectionStringOptions" serializeAs="String">
                <value>pooling=false</value>
            </setting>
            <setting name="createPersonalManagerCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="createPeronalCode" serializeAs="String">
                <value>False</value>
            </setting>
        </MysqlClassGeneratorV2.Properties.Settings>
    </userSettings>
</configuration>